/*HOW TO PLAY PAGE CSS*/
#HOW2PLAY {
  width: 80%;
  background-color: rgb(214, 103, 62);
  border: 10px solid rgb(255, 255, 255);
  margin: 10px;
  color: rgb(0, 0, 0);
  margin-left: 10%;
  font-size: 0.425em;
  text-align: center;

